page-home {
	.blocos{
		color: #FFF;
		.col{
			margin: 5px;
			img{
				max-width: 50px;
				margin: 10px 0 5px;
			}
		}
	}
	.balada{
		background-color: #f7323f;
	}
	.educacao{
		background-color: #0098ce;
	}
	.esporte{
		background-color: #82bc00;
	}
	.feira{
		background-color: #513628;
	}
	.show{
		background-color: #ef7622;
	}
	.teatro{
	    background-color: #593c81;
	}
	.especial{
	    background-color: #da3ab3;
	}
	.datasComemorativas{
		background-color: #edaa00;
	}
}
